
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
  padding: 0;
  margin: 0;
  background-image: url(/public/images/white_wall_hash.webp);
}

.title{
  font-size: 36px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewer{
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
  outline: 2px solid black;
  margin: 50px;
  padding: 20px;
  overflow-y: auto;
  display:block;
  font-family: 'Kumbh', sans-serif;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.title{
  font-size: 22px;
  font-weight: 700;
}

.webHeader{
  font-family: 'Kumbh', sans-serif;
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.img{
  margin: 40px;
}

.search{
  margin-top: 40px;
  margin-bottom: 5px;
}

#search-bar{
  width: 250px;
  height: 25px;
}